body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: relative;
  width: 80vw;
  max-width: 960px;
  aspect-ratio: 4 /3 ;
  background: #222;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}

.shirt {
  position: absolute;
  width: 200px;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  transform-origin: center center;
}

.toolbar {
  position: absolute;
  left: 20%;
  top: 6%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 100px;
  z-index: 3;
}

.tool {
  width: 90px;
  padding: 14px;
  background: gray;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.tool.active {
  background: limegreen;
  color: black;
}