body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 640px;
  height: 480px;
}

.video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
  background: #222;
}

.shirt {
  position: absolute;
  width: 200px;
  cursor: grab;
  z-index: 2;

  -webkit-user-drag: none;
}