body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 640px;
  height: 480px;
  background: #222;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shirt {
  position: absolute;
  width: 200px;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}